# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ariel\Documentos\Engenharia de Software\3º Semestre\Programação e Orientação a Objetos\Projetos Aula\Stack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
